#main-card {
    max-width: 1000px;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#content-title {
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
}

#content-description {
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
}

#content-chips {
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
}

#next-resource-button {
    position: relative;
    margin-top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
}

.video-wrapper {
    height: 300px;
}