<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="./favicon.png" />
  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{% if author %}{{ author }}{% else %}Learning Equality{% endif %}">
  <link href="./assets/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  {% block head %}{% endblock %}
  <link href="./custom.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    {% if parents_count %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for parent in parents %}
        <li class="breadcrumb-item"><a href="./{{ parent.id }}">{{ parent.title }}</a></li>
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    {% endif %}

    {% block content %}{% endblock %}

    {% block footer %}
    <footer class="text-center">
      <p><a href="./about">About this content</a></p>
    </footer>
    {% endblock %}
  </div>
<script src="./assets/bootstrap/bootstrap.bundle.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>
