{% extends "statiksite/base.html" %}

{% block maincontent %}

<div class="container">

    <div id="maindiv">

      <div class="maincontent channel-kind">

          {% if channel.thumbnail %}
            <img class="channelthumb" src="{{ channel.thumbnail }}">
          {% endif %}

          <h3>{{ channel.name }}</h3>

          <p class="descr">
              {{ channel.description }}
          </p>

          <h4>Contents</h4>
          <ul>
          {% for path, child_node in node_children %}
            <li class="{{ child_node.kind }}-kind">
                <a href="{{ path }}">{{ child_node.title }}</a>
            </li>
          {% endfor %}
          </ul>

          <br/>

          <h5>Channel metadata</h5>
          <ul class="metadata">
              <li class="lang_id"><span class="keyname">lang:</span> <span class="keyvalue">{{ channel.root.lang_id }}</span></li>
              <li class="license"><span class="keyname">license:</span> <span class="keyvalue">{{ channel.root.license.license_name }}</span></li>
              <li class="copyright_holder"><span class="keyname">copyright holder:</span> <span class="keyvalue">{{ channel.root.license.copyright_holder }}</span></li>
              {% ifequal channel.root.license.license_name 'Special Permissions' %}
              <li class="license_description"><span class="keyname">license description:</span> <span class="keyvalue">{{ channel.root.license.license_description }}</span></li>
              {% endifequal %}
          </ul>




      </div>

    </div>

</div><!-- /.container -->
{% endblock %}
