<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kolibri2Zim</title>
  <meta name="description" content="{{ meta_description }}">
  <meta name="author" content="Learning Equality">
  <link href="{{ path_to_root }}assets/material-components-web.min.css" rel="stylesheet">
  <script src="{{ path_to_root }}assets/material-components-web.min.js"></script>
  <link rel="stylesheet" href="{{ path_to_root }}assets/content_node.css">
  {% block head_elements %}{% endblock %}
</head>


<body>

  <div id="main-card" class="mdc-card child-node mdc-card--outlined card-node">
    <div id="content-title">
      {{ node["title"] }}
    </div>
    {% block content %}{% endblock %}
    <div id="content-description">{{ node["description"] }}</div>
    <div id="content-chips">
      <div class="mdc-chip mdc-chip--touch">
        <div class="mdc-chip__ripple"></div>
        <span role="gridcell">
          <span role="button" tabindex="0" class="mdc-chip__primary-action">
            <div class="mdc-chip__touch"></div>
            <span class="mdc-chip__text">{{ node["kind"] }}</span>
          </span>
        </span>
      </div>
      <div class="mdc-chip mdc-chip--touch">
        <div class="mdc-chip__ripple"></div>
        <span role="gridcell">
          <span role="button" tabindex="0" class="mdc-chip__primary-action">
            <div class="mdc-chip__touch"></div>
            <span class="mdc-chip__text">{{ node["license_name"] }}</span>
          </span>
        </span>
      </div>
    </div>
  </div>

  <button id="next-resource-button" class="mdc-fab mdc-fab--extended">
    <div class="mdc-fab__ripple"></div>
    <span class="material-icons mdc-fab__icon">arrow_forward</span>
    <span class="mdc-fab__label">NEXT RESOURCE</span>
  </button>
  
</body>
</html>
