
{% extends "content_node_base.html" %}

{% block head_elements %}
<script src="{{ path_to_root }}assets/h5p_standalone/main.bundle.js"></script>
<script src="{{ path_to_root }}assets/zim_prefix.js"></script>
{% endblock %}

{% block content %}
<div id="h5p-container" style="width: 100%; height: auto;"></div>
<script>
  const { H5P } = H5PStandalone;
  const elm = document.getElementById('h5p-container');
  const h5pLocation = ZIM_META_NS + window.location.pathname.split("/").slice(1, -1).join("/") + "/zip_content";
  const h5p = new H5P(elm, h5pLocation);
</script>
{% endblock %}