
{% extends "content_node_base.html" %}

{% block head_elements %}
<link href="{{ path_to_root }}assets/videojs/video-js.min.css" rel="stylesheet" type="text/css">
<script src="{{ path_to_root }}assets/zim_prefix.js"></script>
<script src="{{ path_to_root }}assets/videojs/video.min.js"></script>
<script src="{{ path_to_root }}assets/ogvjs/ogv-support.js"></script>
<script src="{{ path_to_root }}assets/ogvjs/ogv.js"></script>
<script src="{{ path_to_root }}assets/videojs-ogvjs.js"></script>
{% endblock %}

{% block content %}
<div class="video-wrapper" style="width: 100%;">
  <video class="video-js vjs-default-skin vjs-fill" 
      controls preload="auto"
      data-setup='{"techOrder": ["html5", "ogvjs"], "ogvjs": {"base": "{{ path_to_root }}assets/ogvjs"}, "autoplay": {% if autoplay %}true{% else %}false{% endif %}, "preload": true, "controls": true, "controlBar": {"pictureInPictureToggle":false}}'>
      <source src="{{ video_path }}" type="video/{{ format }}" />
      {% for language in subs %}
      <track kind="subtitles" src="{{ language["file"] }}" srclang="{{ language["code"] }}" label="{{ language["code"] }}" />
      {% endfor %}
  </video>
</div>
{% endblock %}