{% extends "base.html" %}

{% block pre_head %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="./assets/perseus/stylesheets/local-only/khan-site.css">
  <link rel="stylesheet" type="text/css" href="./assets/perseus/stylesheets/local-only/khan-exercise.css">
  <link rel="stylesheet" type="text/css" href="./assets/perseus/lib/katex/katex.css">
  <link rel="stylesheet" type="text/css" href="./assets/perseus/lib/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./assets/perseus/lib/mathquill/mathquill.css">
  <link rel="stylesheet" type="text/css" href="./assets/perseus/stylesheets/perseus-admin-package/devices.min.css">
  <link rel="stylesheet/less" type="text/css" href="./assets/perseus/stylesheets/exercise-content-package/perseus.less">
  <link rel="stylesheet/less" type="text/css" href="./assets/perseus/stylesheets/perseus-admin-package/editor.less">
  <link rel="stylesheet/less" type="text/css" href="./assets/perseus/stylesheets/perseus.css">
  <link rel="stylesheet/less" type="text/css" href="./assets/perseus/stylesheets/exercise.css">
  <link href="./assets/bootstrap/bootstrap.min.css" rel="stylesheet">
  <style id="less:stylesheets-exercise-content-package-perseus"></style>
  <style>
    body {
      min-width: 0 !important;
    }
  </style>

  <style type="text/css">
    .MathJax_Hover_Frame {
      border-radius: .25em;
      -webkit-border-radius: .25em;
      -moz-border-radius: .25em;
      -khtml-border-radius: .25em;
      box-shadow: 0 0 15px #83A;
      -webkit-box-shadow: 0 0 15px #83A;
      -moz-box-shadow: 0 0 15px #83A;
      -khtml-box-shadow: 0 0 15px #83A;
      border: 1px solid #A6D ! important;
      display: inline-block;
      position: absolute
    }

    .MathJax_Hover_Arrow {
      position: absolute;
      width: 15px;
      height: 11px;
      cursor: pointer
    }
  </style>

  <style type="text/css">
    #MathJax_About {
      position: fixed;
      left: 50%;
      width: auto;
      text-align: center;
      border: 3px outset;
      padding: 1em 2em;
      background-color: #DDDDDD;
      color: black;
      cursor: default;
      font-family: message-box;
      font-size: 120%;
      font-style: normal;
      text-indent: 0;
      text-transform: none;
      line-height: normal;
      letter-spacing: normal;
      word-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      float: none;
      z-index: 201;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -khtml-border-radius: 15px;
      box-shadow: 0 10px 20px #808080;
      -webkit-box-shadow: 0 10px 20px #808080;
      -moz-box-shadow: 0 10px 20px #808080;
      -khtml-box-shadow: 0 10px 20px #808080;
      filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true')
    }

    .MathJax_Menu {
      position: absolute;
      background-color: white;
      color: black;
      width: auto;
      padding: 5px 0;
      border: 1px solid #CCCCCC;
      margin: 0;
      cursor: default;
      font: menu;
      text-align: left;
      text-indent: 0;
      text-transform: none;
      line-height: normal;
      letter-spacing: normal;
      word-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      float: none;
      z-index: 201;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -khtml-border-radius: 5px;
      box-shadow: 0 10px 20px #808080;
      -webkit-box-shadow: 0 10px 20px #808080;
      -moz-box-shadow: 0 10px 20px #808080;
      -khtml-box-shadow: 0 10px 20px #808080;
      filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true')
    }

    .MathJax_MenuItem {
      padding: 1px 2em;
      background: transparent
    }

    .MathJax_MenuTitle {
      background-color: #CCCCCC;
      margin: -5px 0 0;
      text-align: center;
      font-style: italic;
      font-size: 80%;
      color: #444444;
      padding: 2px 0;
      overflow: hidden
    }

    .MathJax_MenuArrow {
      position: absolute;
      right: .5em;
      color: #666666
    }

    .MathJax_MenuActive .MathJax_MenuArrow {
      color: white
    }

    .MathJax_MenuCheck {
      position: absolute;
      left: .7em
    }

    .MathJax_MenuRadioCheck {
      position: absolute;
      left: .7em
    }

    .MathJax_MenuLabel {
      padding: 1px 2em 3px 1.33em;
      font-style: italic
    }

    .MathJax_MenuRule {
      border-top: 1px solid #DDDDDD;
      margin: 4px 3px
    }

    .MathJax_MenuDisabled {
      color: GrayText
    }

    .MathJax_MenuActive {
      background-color: #606872;
      color: white
    }

    .MathJax_Menu_Close {
      position: absolute;
      width: 31px;
      height: 31px;
      top: -15px;
      left: -15px
    }
  </style>
  <style type="text/css">
    #MathJax_Zoom {
      position: absolute;
      background-color: #F0F0F0;
      overflow: auto;
      display: block;
      z-index: 301;
      padding: .5em;
      border: 1px solid black;
      margin: 0;
      font-weight: normal;
      font-style: normal;
      text-align: left;
      text-indent: 0;
      text-transform: none;
      line-height: normal;
      letter-spacing: normal;
      word-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      float: none;
      box-shadow: 5px 5px 15px #AAAAAA;
      -webkit-box-shadow: 5px 5px 15px #AAAAAA;
      -moz-box-shadow: 5px 5px 15px #AAAAAA;
      -khtml-box-shadow: 5px 5px 15px #AAAAAA;
      filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray', Positive='true')
    }

    #MathJax_ZoomOverlay {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 300;
      display: inline-block;
      width: 100%;
      height: 100%;
      border: 0;
      padding: 0;
      margin: 0;
      background-color: white;
      opacity: 0;
      filter: alpha(opacity=0)
    }

    #MathJax_ZoomEventTrap {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 302;
      display: inline-block;
      border: 0;
      padding: 0;
      margin: 0;
      background-color: white;
      opacity: 0;
      filter: alpha(opacity=0)
    }
  </style>
  <style type="text/css">
    .MathJax_Preview {
      color: #888
    }

    #MathJax_Message {
      position: fixed;
      left: 1em;
      bottom: 1.5em;
      background-color: #E6E6E6;
      border: 1px solid #959595;
      margin: 0;
      padding: 2px 8px;
      z-index: 102;
      color: black;
      font-size: 80%;
      width: auto;
      white-space: nowrap
    }

    #MathJax_MSIE_Frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      z-index: 101;
      border: 0;
      margin: 0;
      padding: 0
    }

    .MathJax_Error {
      color: #CC0000;
      font-style: italic
    }
  </style>
  <style type="text/css" data-aphrodite="">
    .buttonStyle_1quqytj {
      background-color: white !important;
      border: 1px solid #ccc !important;
      border-left: 0 !important;
      cursor: pointer !important;
      margin: 0 !important;
      padding: 5px 10px !important;
      position: relative !important;
    }

    .buttonStyle_1quqytj:first-child {
      border-left: 1px solid #ccc !important;
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
    }

    .buttonStyle_1quqytj:last-child {
      border-right: 1px solid #ccc !important;
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
    }

    .buttonStyle_1quqytj:hover {
      background-color: #ccc !important;
    }

    .buttonStyle_1quqytj:focus {
      z-index: 2 !important;
    }

    .buttonStyle_1quqytj-o_O-selectedStyle_1o9e9ka {
      background-color: #ddd !important;
      border: 1px solid #ccc !important;
      border-left: 0 !important;
      cursor: pointer !important;
      margin: 0 !important;
      padding: 5px 10px !important;
      position: relative !important;
    }

    .buttonStyle_1quqytj-o_O-selectedStyle_1o9e9ka:first-child {
      border-left: 1px solid #ccc !important;
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important;
    }

    .buttonStyle_1quqytj-o_O-selectedStyle_1o9e9ka:last-child {
      border-right: 1px solid #ccc !important;
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
    }

    .buttonStyle_1quqytj-o_O-selectedStyle_1o9e9ka:hover {
      background-color: #ccc !important;
    }

    .buttonStyle_1quqytj-o_O-selectedStyle_1o9e9ka:focus {
      z-index: 2 !important;
    }

    .icon_zylrid {
      width: 24px !important;
      height: 24px !important;
      margin-right: 8px !important;
      margin-top: -3px !important;
      vertical-align: middle !important;
    }

    .hud_j3igwl-o_O-enabled_k3uiq7 {
      position: fixed !important;
      right: 20px !important;
      bottom: 20px !important;
      box-sizing: border-box !important;
      height: 36px !important;
      padding: 9px 16px !important;
      border-radius: 18px !important;
      font-family: 'Proxima Nova Semibold', sans-serif !important;
      font-size: 15px !important;
      line-height: 18px !important;
      color: #FFFFFF !important;
      user-select: none !important;
      border-width: 0 !important;
      background-color: #f86700 !important;
      -moz-box-sizing: border-box !important;
      -webkit-user-select: none !important;
      -moz-user-select: none !important;
      -ms-user-select: none !important;
    }

    .hud_j3igwl-o_O-enabled_k3uiq7:hover {
      background-color: #df5c00 !important;
    }

    .hud_j3igwl-o_O-enabled_k3uiq7:active {
      background-color: #c75300 !important;
    }

    .infoTip_1ib9rpr {
      display: inline-block !important;
      margin-left: 5px !important;
      position: relative !important;
    }

    .infoTipContainer_agadz4 {
      position: absolute !important;
      top: -12px !important;
      left: 22px !important;
      z-index: 1000 !important;
    }

    .infoTipTriangle_1qit3it {
      height: 10px !important;
      left: 0 !important;
      position: absolute !important;
      top: 8px !important;
      width: 0 !important;
      z-index: 1 !important;
    }

    .infoTipTriangle_1qit3it:before {
      border-bottom: 9px solid transparent !important;
      border-top: 9px solid transparent !important;
      content: " " !important;
      height: 0 !important;
      position: absolute !important;
      top: 0 !important;
      width: 0 !important;
      border-right: 9px solid #bbb !important;
      right: 0 !important;
    }

    .infoTipTriangle_1qit3it:after {
      border-bottom: 9px solid transparent !important;
      border-top: 9px solid transparent !important;
      content: " " !important;
      height: 0 !important;
      position: absolute !important;
      top: 0 !important;
      width: 0 !important;
      border-right: 9px solid #fff !important;
      right: -1px !important;
    }

    .verticalShadow_l3yhgs-o_O-infoTipContentContainer_ae2krf {
      border: 1px solid #ccc !important;
      box-shadow: 0 1px 3px #ccc !important;
      border-bottom: 1px solid #aaa !important;
      background: #fff !important;
      padding: 5px 10px !important;
      width: 240px !important;
    }
  </style>
{% endblock %}

{% block content %}
{% include "node_meta.html" %}
  <div id="content-container">
  <div class="framework-perseus" id="framework-perseus">
    <div id="perseus" ref="perseus" style="background-color: white;">

      <meta id="my-data" data-total="{{ questions_count }}" data-dump="{{ perseus_content }}">

      <div class="loader-container">
        <p v-show="loading" :delay="false" type="indeterminate"> Loading </p>
      </div>

      <div id="problem-area" :dir="contentDirection()">
        <div id="workarea" style="margin-left: 0"></div>
      </div>

      <div id="hintsarea" :dir="contentDirection()" style="margin-left: 0"></div>

      <div style="clear: both;"></div>
    </div>

    <div id="answer-area-wrap" :dir="contentDirection()" style="background-color: white;">

      <div id="answer-area">
        <div class="info-box">
          <div id="solutionarea">
            {% raw %}
              <div id="statusarea">
                <div id="question-status">
                  <div>
                    Question: {{ questionIndex+1 }} / {{ maxQuestionIndex }}
                  </div>
                </div>

                <div v-if="messageType != 'blank'" v-bind:class="[messageType == 'error' ? 'red-alert-backgroud' : 'green-alert-backgroud']">
                  <span :class="[messageType == 'error' ? 'red-alert-text' : 'green-alert-text']">
                    {{ message }}
                  </span>
                </div>
              </div>
            {% endraw %}

            <div id="buttonsarea">
              <div v-if="anyHints" class="hint-btn-container">
                <button
                  v-if=" availableHints > 0"
                  class="interactive-btn"
                  appearance="basic-link"
                  :primary="false"
                  @click="takeHint">
                  Take Hint
                </button>

                <button
                  v-else
                  class="interactive-btn dead-btn"
                  appearance="basic-link"
                  :primary="false"
                  :disabled="true">
                  No more hints available
                </button>
              </div>
              <button
                class="interactive-btn checkanswer-btn"
                appearance="basic-link"
                :primary="false"
                @click="checkAnswer"
                v-show="!nextQuestionToggle">
                Check
              </button>
              <button
                class="interactive-btn"
                appearance="basic-link"
                :primary="false"
                @click="nextQuestion"
                v-show="nextQuestionToggle">
                Next Question
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>

    <button
    v-if="scratchpad"
    id="scratchpad-show"
    :primary="false"
    :raised="false">
      Kbutton if scratchpad
    </button>
    <button
      v-else
      id="scratchpad-not-available"
      :primary="false"
      :raised="false"
      disabled>
      KButton else
    </button>

    <div id="perseus-container" ref="perseusContainer"></div>
  </div>
  </div>
{% endblock %}

{% block script %}
<script src="./assets/perseus_exercise.js"></script>
<script src="./assets/perseus/lib/less.js"></script>
<script src="./assets/perseus/lib/babel-polyfills.min.js"></script>
<script src="./assets/perseus/lib/jquery.js"></script>
<script src="./assets/perseus/lib/underscore.js"></script>
<script src="./assets/perseus/lib/react-with-addons.js"></script>
<script src="./assets/perseus/lib/mathjax/2.1/MathJax.js?config=KAthJax-730d56e87e9c926b91584f6030314815&amp;delayStartupUntil=configured"></script>
<script src="./assets/perseus/lib/katex/katex.js"></script>
<script src="./assets/perseus/lib/mathquill/mathquill-basic.js"></script>
<script src="./assets/perseus/lib/kas.js"></script>
<script src="./assets/perseus/lib/vue.js"></script>
<script src="./assets/perseus/lib/i18n.js"></script>
<script src="./assets/perseus/lib/jquery.qtip.js"></script>
<script src="./assets/perseus/build/frame-perseus.js"></script>
<script src='./assets/perseus/solver.js'></script>
<script type="module" src='./assets/perseus/perseus_script.js'></script>
{% endblock %}
