{% extends "statiksite/base.html" %}

{% block maincontent %}

<div class="container">

    <div id="maindiv">

      <div class="maincontent topic-kind">

          <h3>{{ node.title }}</h3>
          <p class="descr">
              {{ node.description }}
          </p>

          <h4>Contents</h4>
          <ul>
          {% for path, child_node in node_children %}
            <li class="{{ child_node.kind }}-kind">
                <a href="{{ path }}">{{ child_node.title }}</a>
            </li>
          {% endfor %}
          </ul>

          <br/>

          <h5>Topic metadata</h5>
          <ul class="metadata">
              <li class="content_id"><span class="keyname">content id:</span> <span class="keyvalue">{{ node.content_id }}</span></li>
              <li class="author"><span class="keyname">author:</span> <span class="keyvalue">{{ node.author }}</span></li>
              <li class="lang_id"><span class="keyname">lang:</span> <span class="keyvalue">{{ node.lang_id }}</span></li>
          </ul>


      </div>

    </div>

</div><!-- /.container -->
{% endblock %}
