{% extends "base.html" %}

{% block content %}
{% include "node_meta.html" %}

{% if children_count %}
<div class="children">
  <div class="row">
    {% for child in children %}
    {% if child.kind != 'exercise' %}
    <div class="mb-4 col-12 col-sm-6 col-md-4 col-xl-3">
      {% include "card.html" ignore missing with context %}
    </div>
    {% endif %}
    {% endfor %}
  </div>

</div>
{% else %}
<p class="alert alert-warning">This topic has no children. This is unexpected. You should probably go-up the hierarchy.</p>
{% endif %}
{% endblock %}
