<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ channel_name }}</title>
  <meta name="description" content="{{ meta_description }}">
  <meta name="author" content="Learning Equality">
  <link href="{{ path_to_root }}assets/material-components-web.min.css" rel="stylesheet">
  <script src="{{ path_to_root }}assets/material-components-web.min.js"></script>
  <link rel="stylesheet" href="{{ path_to_root }}assets/tree_node.css">
  <script src="{{ path_to_root }}assets/jquery.min.js"></script>
</head>


<body>
  <div id="main-container">
  <div id="node-heading">{{ node["title"] }}</div>
  <div id="node-description">{{ node["description"] }}</div>

  <div id="grid-container">
    {% for child in node["children"] %}
      <div class="mdc-card child-node mdc-card--outlined card-node" onclick="window.location.href='{{ child['id'] }}/index.html'">
        <div class="mdc-card__primary-action">
          <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('{{ child.image_url }}');"></div>
        </div>
        <div class="card-title">{{ child["title"] }}</div>
        <div class="card-chips">
          <div class="mdc-chip mdc-chip--touch card-chip">
            <div class="mdc-chip__ripple"></div>
            <span role="gridcell">
              <span role="button" tabindex="0" class="mdc-chip__primary-action">
                <div class="mdc-chip__touch"></div>
                <span class="mdc-chip__text">{{ child["kind"] }}</span>
              </span>
            </span>
          </div>
          <div class="mdc-chip mdc-chip--touch card-chip">
            <div class="mdc-chip__ripple"></div>
            <span role="gridcell">
              <span role="button" tabindex="0" class="mdc-chip__primary-action">
                <div class="mdc-chip__touch"></div>
                <span class="mdc-chip__text">{{ child["license_name"] }}</span>
              </span>
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% if path_to_root %}
<button id="up-a-level" class="mdc-fab mdc-fab--extended" onclick="window.location.href='../index.html'">
  <div class="mdc-fab__ripple"></div>
  <span class="material-icons mdc-fab__icon">arrow_upward</span>
  <span class="mdc-fab__label">UP A LEVEL</span>
</button>
{% endif %}


<script>
  $(".card-node").on("mouseover", function() {
    $(this).removeClass("mdc-card--outlined");
}).on("mouseout", function() {
    $(this).addClass("mdc-card--outlined");
});
</script>
</body>
</html>
