<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{% if author %}{{ author }}{% else %}Learning Equality{% endif %}">
  <link href="./assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/videojs/video-js.css" rel="stylesheet" />
  <style type="text/css">

  </style>
</head>
<body>
  <div class="container">
    {% if parents_count %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for parent in parents %}
        <li class="breadcrumb-item"><a href="./{{ parent.id }}">{{ parent.title }}</a></li>
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    {% endif %}

    <h1>{{ title }}</h1>
    {% if description %}<p>{{ description }}</p>{% endif %}

    <video
        class="video-js vjs-default-skin"
        width="480px" height="270px"
        {% if thumbnail %}poster="{{ thumbnail }}"{% endif %}
        data-setup='{"techOrder": ["html5", "ogvjs"], "ogvjs": {"base": "assets/ogvjs"}, "autoplay": {% if autoplay %}true{% else %}false{% endif %}, "preload": true, "controls": true, "controlBar": {"pictureInPictureToggle":false}}'>
        <source src="{{ video_filename }}" type="video/{{ video_filename_ext }}" />
        <source src="{{ alt_video_filename }}" type="video/{{ alt_video_filename_ext }}" />
        {% if subtitles %}
            {% for subtitle in subtitles %}
            <track kind="subtitles" src="{{ subtitle.filename }}" srclang="{{ subtitle.code }}" label="{{ subtitle.name }}" />
            {% endfor %}
        {% endif %}
    </video>
  </div>
<script src="./assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./assets/videojs/video.js"></script>
<script src="./assets/ogvjs/ogv-support.js"></script>
<script src="./assets/ogvjs/ogv.js"></script>
<script src="./assets/videojs-ogvjs.js"></script>
</body>
</html>
