name: QA

on:
  workflow_call:

jobs:
  check-qa:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3.5.3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4.6.1
        with:
          python-version: "3.11"
          architecture: x64

      - name: Install dependencies (and project)
        run: |
          pip install -U pip
          pip install -e .[lint,scripts,test]

      - name: Check black formatting
        run: inv lint-black

      - name: Check ruff
        run: inv lint-ruff

      # Installs and run pyright (node). Easier/faster alt. to: inv check-pyright
      - name: Check with pyright
        uses: jakebailey/pyright-action@v1.6.0
        with:
          version: 1.1.311
